* {
    
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0px;
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 10px;
}
a {
    text-decoration: none;
    color: rgb(56, 56, 56);
}
a:hover {
    color: grey;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 10px;
}

.right-hr {
    margin-top: 70px;
}
.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 900px;
    
}

.left-side *, .left-side {
    background-color: rgb(68, 65, 84);
    color: whitesmoke;
}

p {
    padding: 5px;
    text-align: justify;
    margin-top: 0;
}

.section-type {
    padding: 5px;
    margin-bottom: 0;
    
    
}

.projects-class {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 20px;
}

.organisation {
    list-style: none;
    padding: 10px;
    font-size: large;
}

p {
    padding-right: 20px;
} 

.right-side {
    color: rgb(68, 65, 84);
    text-align: justify;
    background-color: whitesmoke;
}

.job-roles {
    padding-right: 20px;
}

.accomplishments {
    padding-right: 20px;
}

footer {
    text-align: right;
    padding-bottom: 5px;
    padding-right: 5px;
}

.projects {
    height: 25px;
}

@media (min-width: 336px) and (max-width:670px) {
    .container {
        max-width: 400px;
        
    }

    h1 {
        font-size: 18px;
    }

    .section-type {
        font-size: 12px;
        padding: 3px;
        margin-top: 0px;
    }

    h3 {
        font-size: px;
    }

    p, li, a, ul {
        font-size: 6px;
        margin: 0px;
    }

    .organisation {
        font-size: 8px;
        padding: 5px;
    }

    .right-hr {
        margin-top: 42px;
    }

    ul {
        padding-left: 20px;
    }
    
    .projects-class {
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
        padding-left: 10px;
        
    }
    .projects {
        min-height: 0px;
        flex: 0 1 15px;
        
    }
}


@media (max-width:335px) {
    h1 {
        font-size: 16px;
    }

    .section-type {
        font-size: 12px;
        padding: 3px;
        margin-top: 0px;
    }

    h3 {
        font-size: px;
    }

    p, li, a, ul {
        font-size: 6px;
        margin: 0px;
    }

    .organisation {
        font-size: 8px;
        padding: 5px;
    }

    .right-hr {
        margin-top: 42px;
    }

    ul {
        padding-left: 20px;
    }
    
    .projects-class {
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
        padding-left: 10px;
        
    }
    .projects {
        min-height: 0px;
        flex: 0 1 15px;
        
    }
}