body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

.tile-image {
  float: left;
  height: 200px;
  width: 300px;
  margin-right: 50px;
}
@media (min-width: 681px) {
  .card {
    width: 45%;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

h1 span {
  color: blueviolet;
}

@media (max-width: 680px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .logo {
    height: 25px;
  }
  .card {
    display: block;
  }
  .tile-image {
    width: 100%;
    margin-bottom: 10px;
  }
  .left {
    color: black;
  }

  .right {
    color: black;
  }

  p {
    text-align: justify;
  }
}
